@font-face {
    font-family: marioFont;
    src: url(./font/8-BIT\ WONDER.TTF);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: marioFont;
}



body{
    background-color: rgb(29, 28, 28);
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
   
}

main{
    border-bottom: 60px solid green;
    background-image: linear-gradient(rgb(48, 167, 236), white);
    height: 70vh;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.startGame{
width: 100%;
height: 70vh;
display: flex;
justify-content: center;
align-items: center;
}

.startGame button{
    width: 260px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}


.div-gameOver{
    position: absolute;
    width: 100%;
    height: 70vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.gameOver{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: white;
    text-shadow: 5px 5px black;
    font-size: 
    50px;
    
}

.gameOver button{
    height: 40px;
    width: 250px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.gameOver button:hover{
    cursor: pointer;
}

.dust{
    width: 100vw;
    height: 30vh;
    background-color: rgb(77, 39, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

}

.dust p{
    color: white;
    font-size: 15px;
    font-weight: 100;
    margin-top: 3%;
    font-family: 'Courier New', Courier, monospace;
}

.dust img{
    width: 30px;
}


.pipe{
    position: absolute;
    bottom: 0;
    right: -120%; 
    width: 60px;
    animation: none;
}

.mario{
    width: 140px;
    position: absolute;
    bottom: 0;
    left: -20px;
}

.jump {
    animation: jump ease-out 0.5s;
}

.clouds{
    width: 500px;
    position: absolute;
    animation: clouds-animation linear 14s infinite;
}

@keyframes pipe-animation {
    from {
        right: -30%;
    }

    to{
        right: 102%;
    }
}

@keyframes jump {
   0% {
    bottom: 0;
   }

   40% {
    bottom: 170px;
   }

   50% {
    bottom: 170px;
   }
   
   60% {
    bottom: 170px;
   }

   100% {
    bottom: 0;
   }
}

@keyframes clouds-animation {
  from{
    right: -90%;
  }  

  to {
    right: 110%;
  }
}

@media (max-width: 630px) {
    
    @keyframes clouds-animation {
        from{
          right: -140%;
        }  
      
        to {
          right: 110%;
        }
      }

      .gameOver{
        font-size: 35px;
      }
}

@media (max-width: 500px) {
    
.dust{
    justify-content: flex-start;
}

.dust p{
    margin-top: 40px;
}

}